select {
    color: rgb(129, 93, 2);
    font-size: large;
    border: 2px solid rgb(129, 93, 2);
    border-radius: 10%;
}

div.cardsWrapper {
    justify-content: center;
    margin: 5%;
}

div.card {
    margin: 3%;
    padding: 0%;
}

div.card:hover {
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 30%);
}

p.card-text {
    margin: 2%;
    color: rgb(1, 1, 56);
}

button.btnShowMore {
    color: rgb(1, 1, 56);
    border: 3px solid rgb(1, 1, 56);
}

button.btnShowMore:hover {
    background-color: rgb(1, 1, 56);
    color: white;
}

img.productPic {
    width: 100%;
    height: 65%;
}

div.container {
    min-height: 100vh;
}

button.handleAddToFavorite,
.handleRemoveFavorite {
    background-color: rgb(1, 1, 56);
    color: white;
}

button.handleAddToFavorite:hover,
.handleRemoveFavorite:hover {
    color: rgb(1, 1, 56);
    background-color: white;
    border: 2px solid rgb(1, 1, 56);
}




@media screen and (max-width: 767px) {
    .card {
        width: 75%;
    }

    ;

    select {
        font-size: small;
    }

    option {
        font-size: small;
    }
}

;