div.links {
    border-top: 10px solid rgb(129, 93, 2);
    margin-top: 10%;
    padding: 2%;
    background-color: rgb(1, 1, 56);
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
    padding: 0 10%;
}

.emailIcon {
    color: white;
}

.link:hover {
    color: white;
    text-shadow: 2px 2px rgb(129, 93, 2);

}

p.brakeLine {
    display: inline;
    color: white;
}

div.mainFooter {
    padding: 2%;
    background-color: rgb(1, 1, 56);
    text-align: center;
    color: white
}

.blockquote-footer {
    color: rgb(129, 93, 2);
}