div.footer {
    margin-bottom: 0;
    margin-top: 5;
    width: 100%;
}

div.links {
    border-top: 10px solid rgb(129, 93, 2);
    margin-top: 15%;
    padding: 2%;
    background-color: rgb(1, 1, 56);
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
    padding: 0 10%;
}

.emailIcon {
    color: white;
}

.link:hover {
    color: white;
    text-shadow: 2px 2px rgb(129, 93, 2);

}

p.brakeLine {
    display: inline;
    color: white;
}

div.mainFooter {
    padding: 2%;
    background-color: rgb(1, 1, 56);
    text-align: center;
    color: white;
    margin: 0;
}

.blockquote-footer {
    color: rgb(129, 93, 2);
}


@media screen and (max-width: 767px) {
    p.brakeLine {
        display: none;
    }

    .link {
        font-size: small;
        padding: 0 3%;
    }

    .blockquote-footer {
        font-size: small;
        margin: 1%;
    }
}

;