h1 {
    color: rgb(129, 93, 2);
    text-align: center;
    margin: 2%;
}

div.info {
    width: 100%;
    height: 80%;
    background-color: rgb(228, 224, 220);
    padding: 2%;
    border-radius: 10%;
    margin: auto;
    font-size: large;
}

h5 {
    text-align: center;
    background-color: rgb(1, 1, 56);
    color: white;
    padding: 1%;
    margin-top: 5%;
    width: 100%;
    border-radius: 10%;
}

.productsLink {
    color: rgb(129, 93, 2);
    float: right;
    font-weight: 600
}

.productsLink:hover {
    color: rgb(1, 1, 56);
}