div.logo {
    width: 100%;
    height: 5%;
    background-color: rgb(1, 1, 56);
}

.navbar-logo {
    color: white;
    text-shadow: 2px 1px rgb(129, 93, 2);
}

.navbar-logo:hover {
    color: white;
    text-shadow: 2px 1px rgb(129, 93, 2);
}

.logo-text {
    color: rgb(129, 93, 2);
    display: inline-block;
    font-size: small;
}

.navbar {
    width: 100%;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 30%);
    padding: 2%;
    margin-bottom: 7%;
}

.nav-link {
    color: rgb(1, 1, 56);
}

.nav-link:hover {
    border-bottom: 3px solid rgb(1, 1, 56);
    color: rgb(1, 1, 56);
}

.responsiveNavbar {
    background-color: rgb(1, 1, 56);
    color: white;
    text-shadow: 2px 1px rgb(129, 93, 2);
}

.dropdown-menu {
    border-top: 5px solid rgb(129, 93, 2);
}

.dropdown-item {
    color: rgb(1, 1, 56);
}

.dropdown-item:hover {
    border-bottom: 3px solid rgb(1, 1, 56);
    color: rgb(1, 1, 56);
    background-color: white;
}